* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: #f6f2f8;
}
.container {
    background-color: #d7c3df;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
}
.container h1 {
    font-size: 32px;
    padding-bottom: 1rem;
}
.weather-btn {
    background-color: #784a8c;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}
.weather-btn:hover {
    background-color: #a661c4;
    transform: translateY(-2px);
}
.weather-btn:active {
    background-color: #5f3570;
    transform: translateY(0);
}
.icon img {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.temperature {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}
.description {
    font-size: 24px;
    margin-bottom: 20px;
}
.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.details > div {
    padding: 20px;
    background-color: #c7a0d8;
    margin: 10px;
    flex: 1;
    border-radius: 5px;
    text-align: center;
    height: 70px;
    min-height: 45px;
}
@media (max-width: 768px) {
    form {
        flex-direction: column;
    }
    form input[type="text"] {
        width: 100%;
        margin-bottom: 10px;
    }
}
.mapStyle {
    display: flex;
    justify-content: center;
}
#map {
    height: 400px; /* Set the height of the map */
    width: 500px;  /* Set the width of the map */
}